body{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%)!important; 
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.row {
    --bs-gutter-x: 0!important; } 
/*SECTION LIST IMAGE*/
img{
    aspect-ratio: 3/5;
}
tr{
    display: flex!important;
}
p{
 overflow-wrap: break-word;
}
.imagelist{
    width: 19vw;
    max-height: 22vw!important;
}
section{
    padding:1rem;
    /* display: inline-block; */
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .6;
    transition: .8s ease;

}
section img:hover{
    /* cursor: ; */
    width:25vw;
    opacity: 1;
    filter: contrast(120%);
}
.lista1{
    padding-left: 0vw;
    padding-right: 0vw;
}
.card{
    background: linear-gradient(112.1deg, rgb(56, 65, 96) 11.4%, rgb(87, 104, 163) 70.2%)!important; 
    /* width: 90vw!important; */
}
/*END SECTION LIST*/
.table-container-flex{
    overflow-x: auto;
    width: 100%!important;
    background-color: white!important;
}
/*FOOTER*/
